# Compiled binaries
screensaver
screensaver.exe
screensaver.scr
screensaver_mac
ascii-biobattle
ascii-biobattle.exe
ascii-biobattle.scr
ascii-biobattle_mac
build/
dist/

# Local custom Go environment
.go/

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
